.statistic1 {
    padding: 2vw;
    margin: 1vw;
    border-radius: 1.5vw;
    background-color: #BE7462;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    min-width: 600px;
    min-height: 30%;
}

/* Tabel Stilizat */
#statistic1-table {
    padding: 30px;
    width: 80%;
    border-collapse: collapse;
}

#statistic1-table th, #statistic1-table td {
    padding: 0.8vw;
    text-align: center;
    font-size: 1vw;
    color: #ffffff;
}

#statistic1-table th {
    background: #9b5f50;
    font-weight: bold;
}

#statistic1-table tr:nth-child(even) {
    background-color: #a36d5f;
}

#statistic1-table tr:nth-child(odd) {
    background-color: #BE7462;
}

#statistic1-table tr:hover {
    background-color: #793243;
    cursor: pointer;
}

.details_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    background: #312a55;
    border-radius: 10px;
    padding: 20px;
    color: white;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    max-width: 300px;
}

#coffee-store-details {
    flex: 2;
    background-color: #514A73;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 1.2rem;
    margin-left: 20px;
}

.dropdown-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.dropdown-container select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #BE7462;
    color: white;
    font-size: 1rem;
}


#graph-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #312a55;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white;
    min-height: 400px;
    min-width: 100%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.details-and-chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.details-column {
    flex: 1;
    padding: 20px;
    background-color: #312a55;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.chart-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
    margin: 0 auto;
    background: #312a55;
    border-radius: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


/* 
BE7462
B1A0D8
793243

*/