/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
}

body {
    background: #120F1F;
    color: white;
    font-size: 1.2vw;
    height: 100vh;
    overflow: hidden;
}

.desktop1 {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Sidebar */
.report-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 18%;
    height: 100%;
    background: #292441;
    padding: 2%;
}

.report-header h1 {
    font-size: 2vw;
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
}

.report-header hr {
    border: 1px solid white;
    margin-bottom: 20px;
}

.report-text {
    margin: 20px 0;
    font-size: 1.5vw;
    font-weight: 600;
    cursor: pointer;
    color: white;
}
.report-text.active {
    color: #FFFFFF; /* Text alb */
    font-weight: bold; /* Bold pentru text activ */
}

.selected-report {
    background: #514A73;
    border-radius: 0.5vw;
    padding: 10px;
}

/* Statistic Boxes */
.statistic1, .statistic2 {
    position: absolute;
    top: 5%;
    border-radius: 1.5vw;
    text-align: center;
    color: white;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 20px;
}

.statistic1 {
    left: 20%;
    width: 18%;
    height: 20%;
    background: #BE7462;
}

.statistic2 {
    left: 40%;
    width: 38%;
    height: 20%;
    background: #B1A0D8;
}

/* Grafic */
.statistic3 {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 65%;
    height: 65%;
    background: #514A73;
    border-radius: 1.5vw;
    padding: 2%;
}

#chart {
    width: 100%;
    height: 100%;
}
