<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    {% block extra_styles %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js"></script>
</head>
<body>
    <!-- Sidebar -->
    <div class="report-sidebar">
        <div class="report-header">
            <h1>Reports</h1>
            <hr />
        </div>
        <div class="reports">
            <a href="{{ url_for('coffee_stores') }}">
                <div id="coffee-stores-btn" class="report-text">Coffee Stores</div>
            </a>
            <a href="{{ url_for('employees') }}">
                <div id="employees-btn" class="report-text">Employees</div>
            </a>
        </div>
    </div>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
