{% extends "base.html" %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/coffee_stores.css') }}">
{% endblock %}

{% block content %}
<div class="details_container">
    <!-- Dropdowns Column -->
    <div class="dropdown-container">
        <label for="coffee-store-select">Select Coffee Store:</label>
        <select id="coffee-store-select">
            <option value="" disabled selected>Choose a coffee store</option>
        </select>

        <label for="year-select">Select Year:</label>
        <select id="year-select">
            <option value="" disabled selected>Choose a year</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
        </select>
        <label for="month-select">Select Month:</label>
        <select id="month_select">
            <option value="" disabled selected>Choose a month</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>

    </div>

    <!-- Details Column -->
    <div id="coffee-store-details">
        <div id="loading-spinner" class="text-center d-none">
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p>Loading details...</p>
        </div>
        <div class="details-and-chart">
            <!-- Left Column: Details -->
            <div id="details-content" class="details-column">
                <h3 class="text-center">Details will appear here</h3>
            </div>
            
            <!-- Right Column: Pie Chart -->
            <div id="expenses_per_month" class="chart-column">
                <!-- Pie chart will render here -->
            </div>
        </div>
    </div>
    
</div>

<div id="graph-container">
    <!-- Graph will be rendered here -->
</div>

<script>
    // global variable to store the revenue goal
    let revenueGoal = 0;
    $(document).ready(function () {
        // Populate dropdown with coffee stores
        $.get('/api/coffee_stores_list', function (data) {
            const dropdown = $('#coffee-store-select');
            data.forEach(item => {
                dropdown.append(`<option value="${item.id}">${item.name}</option>`);
            });
        });

        // Fetch details when all dropdowns are selected
        $('.dropdown-container select').change(function () {
            const storeId = $('#coffee-store-select').val();
            // const month = $('#month-select').val();
            // const year = $('#year-select').val();
            const detailsDiv = $('#details-content');
            const spinner = $('#loading-spinner');

            if (storeId) {
                detailsDiv.addClass('d-none');
                spinner.removeClass('d-none');

                $.get(`/api/coffee_store_details/${storeId}`, function (data) {
                    spinner.addClass('d-none'); // Hide spinner
                    detailsDiv.removeClass('d-none'); // Show content
                    detailsDiv.empty();

                    if (data.error) {
                        detailsDiv.append(`<p class="text-danger text-center">${data.error}</p>`);
                    } else {
                        detailsDiv.append(`
                            <h3 class="text-center">${data.name}</h3>
                            <p><strong>City:</strong> ${data.city}</p>
                            <p><strong>Address:</strong> ${data.address}</p>
                            <p><strong>Manager:</strong> ${data.manager}</p>
                            <p><strong>Revenue Goal:</strong> ${data.revenue_goal}</p>
                            <p><strong>All time revenue:</strong> ${data.total_revenue || 0}</p>
                        `);

                        // store the revenue goal in the global variable
                        revenueGoal = data.revenue_goal;
                    }
                }).fail(function () {
                    spinner.addClass('d-none');
                    detailsDiv.removeClass('d-none').html('<p class="text-danger">Failed to load details. Please try again.</p>');
                });
            }
        });

        function fetchAndPlotPieChart() {
            const storeId = $('#coffee-store-select').val(); // Store ID
            const year = $('#year-select').val();           // Selected year
            const month = $('#month_select').val();         // Selected month

            if (storeId && year && month) {
                $.get('/api/expenses_by_category', { store_id: storeId, month: month, year: year }, function (data) {
                    if (data.error) {
                        console.error(data.error);
                        alert('Error fetching expenses data.');
                        return;
                    }

                    if (data.length === 0) {
                        // alert('No expenses found for the selected criteria.');
                        $('#expenses_per_month').html('<p class="text-center">No expenses found for the selected criteria.</p>');
                        return;
                    }

                    // in case the p is present, remove it
                    $('#expenses_per_month p').empty();


                    // Extract categories and their total values
                    const categories = data.map(item => item.category);
                    const totals = data.map(item => item.total);

                    // Define data for the Pie Chart
                    const chartData = [{
                        values: totals,
                        labels: categories,
                        type: 'pie',
                        marker: {
                            colors: ['#F2C94C', '#BE7462', '#514A73', '#6C757D', '#9B5F50']
                        }
                    }];

                    // Define layout for the chart
                    const layout = {
                        title: 'Expenses by Category',
                        paper_bgcolor: '#312a55',
                        plot_bgcolor: '#312a55',
                        font: { color: 'white' },
                        width: 350,  // Lățime mai mică
                        height: 300, // Înălțime mai mică
                        margin: { t: 90, b: 40, l: 40, r: 40 }, // Marginile ajustate
                        showlegend: true
                    };


                    // Render the Pie Chart in the designated container
                    Plotly.newPlot('expenses_per_month', chartData, layout);

                }).fail(function () {
                    alert('Failed to fetch expenses data. Please try again.');
                });
            }
        }



        
        function fetchAndPlotGraph() {
            const storeId = $('#coffee-store-select').val(); // Get store ID from dropdown
            const year = $('#year-select').val(); // Get selected year from dropdown

            if (storeId && year) {
                // Clear the existing graph before rendering a new one
                Plotly.purge('graph-container'); 

                $.get('/api/monthly_sales_expenses', { store_id: storeId, year: year }, function (data) {
                    if (data.error) {
                        console.error(data.error);
                        alert('Error fetching graph data.');
                        return;
                    }

                    // Map for actual month names
                    const monthNames = ["January", "February", "March", "April", "May", "June", 
                                        "July", "August", "September", "October", "November", "December"];

                    // Extract months, revenues, and expenses
                    const months = data.map(item => monthNames[item.month - 1]).reverse();
                    const revenues = data.map(item => item.monthly_revenue).reverse();
                    const expenses = data.map(item => item.monthly_expenses).reverse();

                    // horizontal dotted line for revenue goal
    
                    
                    const goal = Array(months.length).fill(revenueGoal);
                    console.log(months);
                    console.log(revenues);
                    console.log(expenses);
                    console.log(goal);
                    const revenueGoalLine = {
                        x: months,
                        y: goal,
                        type: 'scatter',
                        mode: 'lines',
                        name: 'Revenue Goal',
                        line: { color: '#F2C94C', width: 2, dash: 'dot' }
                    };


                    // Define traces for revenue and expenses as lines
                    const revenueTrace = {
                        x: months,
                        y: revenues,
                        type: 'scatter',
                        mode: 'lines+markers',
                        name: 'Revenue',
                        line: { color: '#BE7462', width: 2 },
                        marker: { size: 6 }
                    };

                    const expenseTrace = {
                        x: months,
                        y: expenses,
                        type: 'scatter',
                        mode: 'lines+markers',
                        name: 'Expenses',
                        line: { color: '#514A73', width: 2 },
                        marker: { size: 6 }
                    };

                    // Layout for the graph
                    const layout = {
                        title: `Monthly Revenue and Expenses - Year ${year}`,
                        paper_bgcolor: '#312a55',
                        plot_bgcolor: '#312a55',
                        font: { color: 'white' },
                        xaxis: { title: 'Month', tickangle: -45 },
                        yaxis: { title: 'Amount ($)' },
                        margin: { t: 60, b: 80, l: 80, r: 40 }, // Marginile ajustate
                        width: 1400,  // Lățime mai mică
                        height: 400, // Înălțime mai mică
                        showlegend: true
                    };


                    // Render the graph with Plotly
                    Plotly.newPlot('graph-container', [revenueGoalLine, revenueTrace, expenseTrace], layout);
                }).fail(function () {
                    alert('Failed to fetch graph data. Please try again.');
                });
            }
        }


    // Attach event to fetch and plot graph when dropdowns are changed
    $('.dropdown-container select').change(fetchAndPlotGraph);
    $('.dropdown-container select').change(fetchAndPlotPieChart);

    });
</script>
{% endblock %}
